body
.text-justify {
    text-align: justify;
}

.card-custom {
    background-color: #f0f8ff; /* Color de fondo personalizado */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}